_/
bin/
__pycache__/
\#*\#
.*
!.git*
*.bak
*.swp
*.swo
*.png
*.class
*.pyc
*.pyo
*.gz
*.bz2
*.xz
*~
splashtool.aux
splashtool.cp
splashtool.fn
splashtool.ky
splashtool.log
splashtool.pg
splashtool.toc
splashtool.tp
splashtool.vr
splashtool.info
splashtool.ps
splashtool.pdf
splashtool.dvi

